.Product-Sec {
  width: 100%;
}
.Product-Sec .heading {
  text-align: center;
}

.Product-Sec .heading h1 {
  font-size: 40px;
  font-weight: 700;
}
.Product-Sec .heading p {
  margin-top: 10px;
  color: gray;
  font-weight: 400;
}

.product-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 20px;
}

.product-cart:hover {
  position: relative;
}
.product-cart:hover button {
  display: block;
}

.product-cart button {
  background-color: rgb(244, 44, 55);
  color: #ffffff;
  border: none;
  outline: none;
  padding: 16px 20px;
  font-size: 18px;
  border-radius: 10px;
  width: fit-content;
  position: absolute;
  top: 26%;
  left: 28%;
  cursor: pointer;
}

.product-cart img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.product-cart .heading .name {
  font-weight: 500;
  margin: 8px 0;
}
.product-cart .heading .price {
  font-weight: bold;
}
@media (max-width: 650px) {
  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 10px;
    row-gap: 10px;
  }
  .product-cart .heading .name,
  .product-cart .heading .price {
    font-size: 16px;
  }

  .product-cart button {
    padding: 6px;
    font-size: 12px;
    top: 23%;
    left: 21%;
  }
}
@media (max-width: 270px) {
  .product-cart button {
    padding: 12px;
    font-size: 18px;
    top: 26%;
    left: 22%;
  }
}
