.Navbar {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  margin: 20px 0;
  /* background-color: aqua; */
  gap: 50px;
}
.Navbar .logo {
  color: rgb(244, 44, 55);
  font-size: 30px;
  font-weight: 500;
}
.Navbar .links {
  flex: 1;
}
.Navbar .links ul {
  display: flex;
  gap: 20px;
}

.Navbar .links ul li {
  color: rgb(107, 114, 128);
  font-weight: 600;
  font-size: 20px;
}
.Navbar .features {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 750px) {
  .Navbar .links {
    display: none;
  }
  .Navbar {
    justify-content: space-between;
  }
}

@media (max-width: 450px) {
  .Navbar .logo {
    font-size: 24px;
  }

  .Navbar .features img {
    width: 20px;
  }
  .Navbar {
    gap: 0;
  }
}
@media (max-width: 300px) {
  .Navbar .features {
    gap: 10px;
  }
}
